body{
  margin: 0px;
  background: linear-gradient(aquamarine, yellow, lemonchiffon, white, lemonchiffon);
  background-repeat: no-repeat;
  
}
h1{
  text-align: center;
  font-size: 60px;
  color: mediumvioletred;
  text-shadow: 12px 10px 10px white;
}
.h1{
  text-align: center;
  font-size: 70px;
  color: mediumvioletred;
  text-shadow: 12px 10px 10px white;
}
table{
  margin-top: -44px;
  border-spacing: 30px;
  font-size: 37px;
  border: 0px solid black;
  margin-left: 0px;
  width: 100%;
}
table tr td{
  color: mediumvioletred;
  font-weight: bold;
  text-align: center;
  border-radius: 20px;
  border: 2px solid red;
  background:   lightgoldenrodyellow;
  box-shadow: 9px 3px 24px 0px salmon;
}
td a{
   text-shadow: 3px 5px 2px white;
  color: mediumvioletred;
}
.a{
  border: 2px solid blue;
  margin-bottom: 20px;
  margin-left: 26px;
  width:94%;
  border-radius: 60px;
  height: 11210px;
  background: linear-gradient(lemonchiffon, lightskyblue, navajowhite );
}
hr{
  height: 8px;
  background: darkgoldenrod
}
p{
  color: darkblue;
  margin-top: 2px;
  font-weight: bold;
  font-size: 60px;
  font-family: cursive;
  text-shadow: 3px 4px 33px magenta;
  text-align: center;
}
h2{
  margin-top: 33px;
  text-align: center;
  font-size: 50px;
  font-family: sans-serif;
  font-weight: bold;
  color: crimson;
  text-shadow: 3px 4px 4px white;
}
h3{
  box-shadow: 9px 3px 54px 1px yellow;
  border-radius: 70px;
  margin-top: 20px;
  height: 110px;
  background: turquoise;
  text-align: center;
  font-size: 47px;
  color: yellow;
  text-shadow: 3px 4px 4px black;
}
 img{
  align-items: center;
  width: 440px;
  height: 440px;
  margin-left: 250px;
   border-top-left-radius: 100px;
border-bottom-right-radius: 100px;
border: 3px solid navy;   
   box-shadow: 9px 3px 54px 1px red;
}
{
  color: lightgoldenrodyellow lemonchiffon plum turquoise navajowhite lightpink lightsalmon cornflowerblue  mistyrose lavenderblush lavender 
}

