

body{
  margin: 0px;
  background: linear-gradient(pink, yellow, white, white, blue, white, lemonchiffon);
  background-repeat: no-repeat;
  
}
h1{
  text-align: center;
  font-size: 60px;
  color: mediumvioletred;
  text-shadow: 12px 10px 10px white;
}
table{
  margin-top: -44px;
  border-spacing: 30px;
  font-size: 37px;
  border: 0px solid black;
  margin-left: 0px;
  width: 100%;
}
table tr td{
  color: mediumvioletred;
  font-weight: bold;
  text-align: center;
  border-radius: 20px;
  border: 2px solid red;
  background:   lightgoldenrodyellow;
  box-shadow: 9px 3px 24px 0px salmon;
}
td a{
   text-shadow: 3px 5px 2px white;
  color: mediumvioletred;
}
.a{
  border: 2px solid blue;
  margin-bottom: 20px;
  margin-left: 26px;
  width:94%;
  border-radius: 60px;
  height: 2180px;
  background: linear-gradient(aqua, white, lightskyblue);
}
hr{
  height: 8px;
  background: darkgoldenrod
}
video{
  border: 8px solid deeppink;
  opacity: 90%;
  background: aquamarine;
  background-size: 00px;
  
  width: 800px;
  height: 450px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-left: 55px;
}
video source{
  width: 34px;
  padding-left: 333px;
  background-size: auto;
}
.a p{
  color:  firebrick;
  margin-top: 2px;
  font-weight: bold;
  font-size: 70px;
  font-family:  cursive;
  text-shadow: 3px 4px 4px yellow;
  text-align: center;
  
}
{
  color: l lightgoldenrodyellow lemonchiffon plum turquoise navajowhite lightpink lightsalmon cornflowerblue  mistyrose lavenderblush lavender 
}
